@media (max-width: 84em) {

	.divider {
		max-width: 120rem;
	}

	.hero-heading {
		font-size: 3rem;
	}


}

@media (max-width: 75em) {
	html {
		font-size: 56.25%;
	}

	.grid {
		column-gap: 6.2rem;
		row-gap: 2rem;
	}

	.grids {
		gap: 3rem;
	}

	.sec-heading {
		font-size: 3rem;
		line-height: 1;
	}

	.header {
		padding: 0 -3.8rem;
	}

	.header img {
		width: 16rem;
	}

	.divider {
		gap: 4.8rem;
	}

	.main-nav-list {
		gap: 3.2rem;
	}

	.logos {
		gap: 1.5rem;
	}

	.price-complete::after {
		top: 4%;
		right: -7%;
		padding: 0.6rem 1.2rem;
		font-size: 1.8rem;
		font-weight: 500;
	}

	.price-btn {
		margin-bottom: 2rem;
	}

	.testimonial-container {
		padding: 7.6rem 3.2rem;
	}
}

/* max-width/breakpoint for tablets of 944px
944/16px = 59em */
@media (max-width:59em) {
	html {
		font-size: 50%;
	}

	.hero img {
		width: 60%;

	}

	.hero-img {
		width: 60%;
		padding-right: 1rem;
	}

	.hero-section {
		padding-top: 6rem;
	}

	.gallery {
		grid-template-columns: repeat(6, 1fr);
		gap: 1rem;
		padding: 1rem 2rem;
	}

	.hero-heading {
		font-size: 4rem;
	}

	.hero-div,
	.hero-img {
		text-align: center;
	}

	.hero-desc {
		font-size: 2.8rem;
	}

	.featured-header {
		font-size: 1.8rem;
		margin-top: 2rem;

	}

	.delivered-meals {
		justify-content: center;
	}

	.logos {
		gap: 5rem;
	}

	.logos img {
		height: 2rem;
	}

	.testimonial_section {
		grid-template-columns: 1fr;
	}

	.step-num {
		font-weight: 600;
		font-size: 6rem;

	}

	.divider {
		grid-template-columns: 1fr;
		padding: 0 8rem;
	}

	.tag {
		padding: 0.2rem;
		font-size: 2rem;
	}

	.meal-content {
		padding: 2.4rem 3.2rem 3.2rem 3.2rem;
	}

	.tag {
		padding: 0.2rem;
		font-size: 1.6rem;
		font-weight: 200;

	}

	.meal-desc {
		font-size: 1.8rem;
		font-weight: 600;
	}

	.meal-attribute {
		gap: 1rem;
		font-weight: 300;
		font-size: 1.5rem;
	}

	.meal-icon {
		font-size: 1.2rem;
	}

	.feature-text {
		font-size: 1.4rem;
		font-weight: 600;

	}

	.cta {
		grid-template-columns: 3fr 2fr;
		border-radius: 5px;
	}

	.cta-form {
		grid-template-columns: 1fr;
		row-gap: 2rem;
		padding: 0.5rem;
	}

	.cta-form input::placeholder {
		font-size: 2rem;
		font-weight: 200;
	}

	.btnn {
		margin-top: 2rem;
	}

	/* mobile navigation */
	.icon-mobile-nav {
		display: block;
	}

	/* .main-nav {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;

		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;

		/* Hide Navigation */
	/* does not allow transition */
	/* display: none; */
	/* opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transform: translateX(100%);
	transition: all 1s ease-in;
} */
	/* to show the hidden element */
	.nav-open .main-nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
	}

	.nav-open .icon-mobile-nav[name="close-outline"] {
		display: block;
	}

	.nav-open .icon-mobile-nav[name="menu-sharp"] {
		display: none;
	}

	.main-nav-list {
		display: flex;
		flex-direction: column;
		gap: 4.8rem;
		display: none;
	}

	.main-nav-list li:link,
	.main-nav-list li:visited {
		font-size: 3rem;
	}
}

/* Below 704px (Smaller tablet) */
@media (max-width: 44em) {

	.grid--4-cols,
	.grids {
		grid-template-columns: repeat(2, 1fr);
	}

	.diet {
		/* to span the last column to the end */
		grid-column: 1/-1;
		justify-self: center;
	}

	.all_recipes a {
		font-size: 3rem;
	}

	.Pricing {
		width: 100%;
		padding: 1rem;
	}

	/* to make the last three grid in thr footer section */
	.grid--footer {
		grid-template-columns: repeat(6, 1fr);
	}

	.logo-col,
	.address-col {
		grid-column: span 3;
	}


	.nav-col {
		grid-row: 1;
		grid-column: span 2;
		margin-bottom: 3.2rem;
	}

	.logos {
		gap: 1rem;
	}

	.logos img {
		height: 2rem;
	}

}

@media (max-width: 34em) {
	.grid {
		row-gap: 4.8rem;
	}

	.grid--2-cols,
	.grid--4-cols,
	.grids {
		grid-template-columns: 1fr;
	}

	.hero-section {
		padding: 2.4rem 0 4.8rem 0;
	}

	.divider {
		padding: 0 3.2rem;
	}

	.hero-img {
		width: 80%;
	}

	.logos img {
		height: 1.2rem;
	}

	.btn:link,
	.btn:visited {
		font-size: 1rem;
		padding: 2rem 1.6rem;
		font-weight: 600;
	}

	.delivered-imgs img {
		height: 2.4rem;
		width: 2.4rem;

		/* to overlap the images */
		margin-left: -0.5rem;
		border: 2px solid #fdf2e9;
	}

	.delivered-desc {
		font-size: 1.2rem;
		font-weight: 400;
	}

	.for-img:nth-child(2) {
		/* to make the nth-child(2) to become the first elemnt */
		grid-row: 1;
	}

	.for-img:nth-child(6) {
		grid-row: 5;
	}

	/* to move the phone image a bit down */
	.for-img {
		transform: translateY(2.4rem);
	}

	.testimonials {
		grid-template-columns: 1fr;
	}

	.gallery {
		grid-template-columns: repeat(3, 4fr);
		gap: 1.2rem;

	}

	.cta {
		grid-template-columns: 1fr;

	}

	/* manually gave the image a height b/cos its div container doesnt have a height and was easily squashed */
	.CTA-img {
		height: 32rem;
		grid-row: 1;
	}

	.CTA-text .sec-heading,
	.cta-text {
		margin-bottom: 0.5rem;
		padding: 1rem 1rem;

	}

}
